@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');


html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Source Sans Pro', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@layer base{
  *{
    font-family: "Source Sans 3", sans-serif;
  }
}

@layer components {
  .gradient-text {
    @apply 
    font-extrabold uppercase
    text-transparent bg-clip-text
    bg-gradient-to-r from-orange-300 
    to-orange-500
  }
  .hero{
    background-color:hsla(0,0%,100%,0);
    background-image:
    radial-gradient(at 7% 13%, hsla(217,35%,28%,1) 0px, transparent 50%),
    radial-gradient(at 7% 83%, hsla(15,0%,35%,1) 0px, transparent 50%),
    radial-gradient(at 84% 2%, hsla(25,95%,53%,1) 0px, transparent 50%),
    radial-gradient(at 84% 68%, hsla(31,97%,72%,1) 0px, transparent 50%),
    url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 243 243'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='2' %3E%3C/feTurbulence%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)' /%3E%3C/svg%3E")
  }


 
}






